/* For screens 768px and above */
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .drawer,
  .drawer-btn {
    display: none;
  }
}
.search {
  background: #ffffff;
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  max-width: 300px;
}
/* For screens less than 768px */
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .drawer,
  .drawer-btn {
    display: block;
  }
  /* Additional styles for the drawer */
  .drawer {
    background-color: #001529;
    color: white;
  }
}
.hero-section {
  background-image: url("https://c0.wallpaperflare.com/preview/447/552/983/ecommerce-online-shop-euro.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
}
/* const toggleDrawer = () => {
    setIsDrawerOpen(!isDrawerOpen);
  }; */
.hero {
  background: var(--black-5, rgba(30, 40, 50, 0.05));
}
